body {
  /*background: black;
  color: white;*/
  text-align: center;
  /*background: #C0C0C0;*/
  background: linear-gradient(45deg, #FF5D78 10%, #1E86B2 90%);
  height: 100vh;

}

.pianoplacer{
  width: 100wv;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piano {
  display: flex;
  flex-direction: column;
  background: #e74c3c;
  padding: 10px 30px 30px 30px;
  border-radius: 10px 10px 20px 20px;
  box-shadow: 0 10px 0 0 #c0392b;
  margin: 0 0 100px;
  width: 425px;
  height: 200px;
}
.piano .effects {
  display: flex;
  flex-direction: row;
  min-height: 50%;
}
.piano .keys {
  display: flex;
  flex-direction: row;
}
.piano .keys .key {
  margin-left: 0.5px;
  margin-right: 0.5px;
  width: 50px;
  height:100px;
  background: #ffffff;
  box-shadow: 0 10px 0 0 #E5E5E5;
  bottom: 10px;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;


}
.piano .keys .key.active {
  background:  #E5E5E5;


}
.piano .keys .black-key {
  position: inherit;
  margin-left: -12.5px;
  margin-right: -12.5px;
  width: 25px;
  height: 50px;
  background: #000000;
  box-shadow: 0 10px 0 0 #2F2F2F;
  z-index: 99;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.piano .keys .black-key.active {
  background: #2F2F2F;
}

.rc-slider.rc-slider-vertical{
  height: 50px;
  margin-top: 10px;
}

.github {
  width: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.textplacer {
  position: absolute;
   top: 15px;
   text-align: center;
   width: 100%;
}
