body {
  /*background: black;
  color: white;*/
  text-align: center;
  background: yellow;


}
.jumbotron{
  /*background-image: url("/images/background.jpg");
  background-size: cover;
  color: black;*/
}
.piano {
  display: inline-block;
  position: relative;
  background: #e74c3c;
  padding: 100px 15px 10px 15px;
  border-radius: 10px 10px 20px 20px;
  box-shadow: 0 10px 0 0 #c0392b, 0 20px 0 -5px rgba(0, 0, 0, 0.15);
  margin: 0 0 100px;
  width: 1000px;
  height: 200px;
}
.piano .key {
  display: inline-block;
  position: relative;
  margin-left: 0.5px;
  margin-right: 0.5px;
  width: 50px;
  height:100px;
  background: #ffffff;
  box-shadow: 0 10px 0 0 #E5E5E5;
  overflow: hidden;
  bottom: 10px;
  z-index: 10;

}
.piano .key .black-key {
  display: inline-block;
  position: inherit;
  /*position: relative;*/
  margin-left: 0.5px;
  margin-right: 0.5px;
  left: 25px;
  width: 25px;
  height: 50px;
  background: #000000;
  box-shadow: 0 10px 0 0 #2F2F2F;
  z-index: 2;
}
